/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="css/custom.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  padding-right: 0px !important;
}

/*   tipography start             */
@font-face {
  font-family: "OpenSansRegular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "RobotoSlabBold";
  src: url(../fonts/RobotoSlab-Bold.ttf);
}
@font-face {
  font-family: "RobotoSlabRegular";
  src: url(../fonts/RobotoSlab-Regular.ttf);
}
h1,
h2 {
  font-family: "RobotoSlabBold";
  text-transform: uppercase;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 48px;
  position: relative;
  letter-spacing: 9px;
}
h1:after {
  margin-top: 9px;
  display: block;
  content: "\2015\2015\2015       \00b7       \2015\2015\2015";
  font-size: 20px;
  letter-spacing: -3px;
  margin-top: 9px;
}

h3 {
  font-family: "RobotoSlabRegular";
  font-size: 24px;
}
h3:after {
  margin-top: 9px;
  display: block;
  content: "\2015\2015\2015       \00b7       \2015\2015\2015";
  font-size: 20px;
  letter-spacing: -3px;
  margin-top: 9px;
}

p {
  font-family: "OpenSansRegular";
  text-align: center;
  font-size: 14px;
  line-height: 19px;
}

.after-heading {
  color: #999999;
  width: 100%;
}

a {
  font-family: "RobotoSlabRegular";
}
a:hover {
  text-decoration: none;
}

/*   tipography end             */
/*  general style start   */
.container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

.navbar-default .navbar-right .order-btn,
.order-btn {
  margin-top: 8px;
  padding: 7px 27px;
  color: #ffffff;
  font-size: 12px;
  border: 2px solid  #ffffff;
}
.navbar-default .navbar-right .order-btn:hover,
.order-btn:hover {
  border-color: #cccccc;
}

/*  general styles end                        */
/* nav-bar start           */
.navbar-default {
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 0px;
  padding: 13px 207px 9px 205px;
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar-brand {
  padding: 0 10px;
  margin-right: 23px;
  height: initial;
}

.navbar {
  border: none;
}

.navbar-default .navbar-nav li {
  position: relative;
}
.navbar-default .navbar-nav li:before {
  content: ".";
  font-family: "RobotoSlabRegular";
  font-size: 12px;
  position: absolute;
  color: #ffffff;
  top: 31%;
  margin-right: 20px;
}
.navbar-default .navbar-nav li a {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  padding-right: 19px;
  padding-left: 19px;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav li a:hover {
  color: #cccccc;
  background-color: initial;
}
.navbar-default .navbar-nav li:first-child:before {
  display: none;
}
.navbar-default .navbar-nav .active a {
  background-color: initial !important;
  color: #ffffff;
  text-align: center;
}
.navbar-default .navbar-nav .active a:hover:after {
  background-color: #cccccc;
}
.navbar-default .navbar-nav .active a:after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #eaeaea;
  display: block;
  margin: 0 auto;
}
.navbar-default .navbar-nav .active a:hover {
  color: #cccccc;
  background-color: initial;
}

/* nav-bar end           */
/* main content start */
.main-content {
  width: 100%;
  padding-top: 285px;
  padding-bottom: 117px;
  background: url(../img/header-bg.png) center center no-repeat;
  background-size: cover;
}
.main-content h1 {
  margin-bottom: 17px;
  color: #ffffff;
}
.main-content .gallery-look {
  font-family: "OpenSansRegular";
  font-size: 16px;
  text-align: center;
  line-height: 21px;
  color: #ffffff;
}
.main-content .make-order {
  margin-top: 106px;
  text-align: center;
}
.main-content .order-btn {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-content .order-btn:hover {
  text-decoration: none;
  color: #cccccc;
  border-color: #cccccc;
}
.main-content .order-btn:focus, .main-content .order-btn:hover {
  color: #ffffff;
  text-decoration: none;
}

/* main content start end*/
/*next-holidays start*/
.next-holidays {
  margin-top: 93px;
}
.next-holidays h1 {
  margin-bottom: 22px;
}
.next-holidays .row {
  margin-top: 50px;
}
.next-holidays .holiday-container {
  position: relative;
  display: inline-block;
  margin-bottom: 17px;
}
.next-holidays .holiday-container img {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
}
.next-holidays .holiday-container .holiday-name-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  text-align: center;
  opacity: 0;
}
.next-holidays .holiday-container .holiday-name-wrapper:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.next-holidays .holiday-container .holiday-name-wrapper:hover {
  opacity: 1;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s  ease-in-out;
  -ms-transition: all 0.8s  ease-in-out;
  transition: all 0.8s  ease-in-out;
}
.next-holidays .holiday-container .holiday-name {
  display: inline-block;
  vertical-align: middle;
}
.next-holidays .holiday-container h3,
.next-holidays .holiday-container p {
  color: #ffffff;
}

/*next-holidays end*/
/*product-gallery start*/
.product-gallery {
  margin-top: 75px;
}
.product-gallery h1 {
  margin-bottom: 22px;
}
.product-gallery .gallery-menu {
  margin-top: 42px;
  text-align: center;
  margin-bottom: 20px;
}
.product-gallery .gallery-menu li {
  display: inline-block;
  padding: 10px 25px;
}
.product-gallery .gallery-menu li::after {
  content: ".";
  font-size: 30px;
  color: #333;
  position: absolute;
  right: -5px;
  top: -15%;
}
.product-gallery .gallery-menu li:last-child:after {
  display: none;
}
.product-gallery .gallery-menu li a {
  text-transform: uppercase;
  font-size: 12px;
  color: #333333;
  text-decoration: none;
}
.product-gallery .gallery-menu .clicked a {
  position: relative;
  color: #c73e3e;
  display: block;
}
.product-gallery .gallery-menu .clicked a:after {
  position: absolute;
  display: block;
  width: 100%;
  content: "\2015      \00b7      \2015";
  font-size: 20px;
  letter-spacing: -3px;
  margin: 0 auto;
}
.product-gallery .wrapper {
  width: 940px;
  margin: 0 auto;
}
.product-gallery .carousel-control {
  position: static;
}
.product-gallery .gallery-image-container {
  position: relative;
}
.product-gallery .gallery-image-container img {
  margin-bottom: 10px;
  position: relative;
  z-index: 5;
}
.product-gallery .gallery-image-container .gallery-loop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(56, 7, 7, 0.7);
  z-index: 3;
  display: flex;
  align-items: center;
}
.product-gallery .gallery-image-container .gallery-loop:hover:after {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s  ease-in-out;
  -ms-transition: all 0.3s  ease-in-out;
  transition: all 0.3s  ease-in-out;
  transform: scale(1.1);
}
.product-gallery .gallery-image-container .gallery-loop:hover:before {
  opacity: 1;
  -webkit-transition: all 0.3s  ease-in-out 0.3s;
  -moz-transition: all 0.3s  ease-in-out 0.3s;
  -o-transition: all 0.3s  ease-in-out 0.3s;
  -ms-transition: all 0.3s  ease-in-out 0.3s;
  transition: all 0.3s  ease-in-out 0.3s;
  transform: scale(1.3);
}
.product-gallery .gallery-image-container .gallery-loop:after {
  position: relative;
  padding: 25px;
  border-radius: 50% 50%;
  margin: 0 auto;
  content: '\f002';
  font-family: FontAwesome;
  color: #ffffff;
  font-size: 16px;
  background-color: #c73e3e;
  opacity: 0;
}
.product-gallery .gallery-image-container .gallery-loop:before {
  content: '';
  display: block;
  position: absolute;
  width: 94px;
  height: 94px;
  left: 28%;
  border-radius: 50% 50%;
  background-color: rgba(199, 62, 62, 0.3);
  opacity: 0;
}
.product-gallery .left-arrow-wrapper .left.carousel-control,
.product-gallery .right-arrow-wrapper .right.carousel-control {
  margin-top: 30px;
  background-image: none;
  color: #333333;
  font-size: 12px;
}
.product-gallery .left-arrow-wrapper .left.carousel-control .sr-only,
.product-gallery .right-arrow-wrapper .right.carousel-control .sr-only {
  position: static;
  display: inline-block;
  height: 20px;
  width: 100px;
}
.product-gallery .left-arrow-wrapper .left.carousel-control {
  margin-left: 5px;
  text-align: left;
}
.product-gallery .right-arrow-wrapper .right.carousel-control {
  margin-right: 20px;
  text-align: right;
}
.product-gallery .ginger {
  display: block;
}
.product-gallery .zefir,
.product-gallery .cap-cake,
.product-gallery .chocolate-cookies {
  display: none;
}

/*product-gallery end*/
/*about-us start*/
.about-us {
  margin-top: 100px;
  padding-bottom: 103px;
  padding-top: 110px;
  background-color: #f7f7f7;
}
.about-us p {
  color: #999999;
}
.about-us h1 {
  margin-bottom: 10px;
}
.about-us h3 {
  margin-bottom: 14px;
  font-family: "RobotoSlabBold";
  font-size: 18px;
  color: #333333;
}
.about-us h3:after {
  display: none;
}
.about-us .about-container {
  display: inline-block;
}
.about-us .about-container .rounded-image {
  width: 140px;
  height: 140px;
  margin-top: 63px;
  margin-bottom: 21px;
  display: inline-block;
  padding: 43px 43px;
  background-color: #ffffff;
  border-radius: 50% 50%;
}
.about-us .bottom-about {
  display: block;
  width: 68%;
  margin-top: 43px;
  margin-right: auto;
  margin-left: auto;
}

/*about-us end*/
/*our_news start*/
.our_news {
  width: 940px;
  margin: 0 auto;
  margin-top: 100px;
}
.our_news h3 {
  margin-bottom: 13px;
  font-family: "RobotoSlabBold";
  font-size: 18px;
  color: #333333;
}
.our_news h3:after {
  display: none;
}
.our_news p, .our_news span {
  color: #999999;
  text-align: center;
}
.our_news span {
  display: inline-block;
}
.our_news span a {
  text-decoration: underline;
  font-size: 14px;
  color: #333333;
}
.our_news .after-heading {
  margin-bottom: 45px;
}
.our_news .news-container {
  width: 300px;
  height: 320px;
  display: inline-block;
}

.news-details {
  margin-top: 41px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.news-details .date {
  font-family: "OpenSansRegular";
  font-size: 14px;
  color: #999999;
  margin-right: 25px;
}

.news-text {
  font-family: OpenSansRegular;
  font-size: 14px;
  color: #333333;
  text-align: justify;
}

/*our_news end*/
/*review_container start*/
.review_container {
  background-color: #f7f7f7;
  margin-top: 83px;
  padding-top: 100px;
  padding-bottom: 55px;
}
.review_container .container {
  text-align: center;
  width: 780px;
}
.review_container .carousel.slide {
  margin-top: 50px;
}
.review_container img {
  display: inline-block;
}
.review_container .author-rev {
  margin-bottom: 13px;
  font-family: "RobotoSlabBold";
  font-size: 18px;
  color: #333333;
}
.review_container .carousel-indicators {
  bottom: 0;
}
.review_container .author-text {
  padding-bottom: 85px;
}
.review_container .carousel-indicators li {
  border-color: #999999;
}
.review_container .carousel-indicators .active {
  background-color: #c73e3e;
  border: none;
}

/*review_container end*/
/* contact_us */
.contact_us {
  background-color: #222222;
  padding-top: 80px;
  padding-bottom: 30px;
}
.contact_us h1 {
  color: #ffffff;
}
.contact_us .after-heading {
  margin-top: 25px;
  margin-bottom: 25px;
}
.contact_us label {
  margin-bottom: 5px;
  display: block;
  font-family: "RobotoSlabRegular";
  font-size: 14px;
  color: #ffffff;
  text-align: left;
}
.contact_us input,
.contact_us textarea {
  background-color: #292929;
  color: #666666;
  border-radius: 0px;
  border-color: #333333;
}
.contact_us .row:first-child {
  margin-bottom: 20px;
}
.contact_us .row:first-child input {
  width: 295px;
}
.contact_us .form-inline {
  width: 940px;
  margin: 0 auto;
}
.contact_us .order_details {
  display: block;
  vertical-align: top;
}
.contact_us .order_details textarea {
  width: 100%;
  height: 130px;
  resize: none;
}
.contact_us .order-btn {
  margin-top: 25px;
  padding: 10px 27px;
  background-color: initial;
  color: #aaaaaa;
  border-color: #aaaaaa;
}
.contact_us .order-btn:hover {
  color: #dddddd;
  border-color: #dddddd;
}

/*    contact_us end */
/*    footer start   */
footer {
  background-color: #191919;
  padding-top: 18px;
  padding-bottom: 15px;
}
footer .row {
  width: 940px;
  margin: 0 auto;
}
footer a {
  font-family: OpenSansRegular;
  font-size: 14px;
  color: #ffffff;
}
footer .contacts li:first-child:before {
  content: "P: ";
  color: #aaaaaa;
}
footer .contacts li:nth-child(2) {
  padding-left: 18px;
}
footer .contacts li:last-child:before {
  content: "E: ";
  color: #aaaaaa;
}
footer p {
  color: #666666;
  margin-top: 10px;
}
footer .social li {
  display: inline-block;
  padding: 20px 7px;
}
footer .social li i {
  font-size: 20px;
  color: #aaaaaa;
}
footer .social li i:hover {
  color: #dddddd;
}

/*    footer end   */
/* modals start */
.modal-header {
  border-bottom: none;
}

.modal-dialog .modal-content,
.modal-dialog textarea,
.modal-dialog input {
  border-radius: 0px;
}
.modal-dialog .modal-title {
  font-family: RobotoSlabBold;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}
.modal-dialog textarea,
.modal-dialog input {
  border: 1px solid #aaaaaa;
  text-align: left;
}
.modal-dialog label,
.modal-dialog .btn-default {
  font-family: RobotoSlabRegular;
}
.modal-dialog label,
.modal-dialog input {
  font-size: 14px;
}
.modal-dialog label {
  margin-bottom: 10px;
  color: #333333;
}
.modal-dialog input,
.modal-dialog textarea {
  font-family: OpenSansRegular;
}
.modal-dialog .btn-default {
  display: block;
  width: 140px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 0px;
  background: #6cca79;
}
.modal-dialog textarea {
  resize: none;
  height: 150px;
  color: #cccccc;
}

.order_success .modal-header,
.email_success .modal-header {
  padding-top: 15px;
  padding-bottom: 0px;
}
.order_success .modal-title,
.email_success .modal-title {
  text-transform: none;
  margin: 15px 0;
}
.order_success img,
.email_success img {
  display: inline-block;
}
.order_success .success_text,
.email_success .success_text {
  margin-bottom: 15px;
  font-family: RobotoSlabRegular;
  font-size: 14px;
  color: #999999;
}

.frankies-news .modal-content {
  padding-bottom: 38px;
}
.frankies-news .modal-title {
  font-size: 18px;
  text-transform: none;
}
.frankies-news .modal-body > img {
  margin-bottom: 23px;
}
.frankies-news .news-details {
  position: static;
}
.frankies-news .social_in_news a:first-child {
  margin-right: 21px;
}

.form-control.error {
  color: red;
  border-color: red;
}

.error {
  margin-top: 4px;
  color: red;
}

/* modals end*/
/*     responsive start       */
@media (max-width: 1720px) {
  .container .nav.navbar-nav:first-child {
    width: 75%;
  }
}
@media (max-width: 1515px) {
  .container .nav.navbar-nav:first-child {
    width: 69%;
  }
}
@media (max-width: 1366px) {
  .navbar-brand {
    padding: 0 20px;
  }

  .navbar-default {
    padding: 13px 5px 9px 5px;
  }
  .navbar-default .navbar-nav {
    width: initial !important;
  }
  .navbar-default .navbar-nav li {
    text-align: left;
  }
  .navbar-default .navbar-nav li a {
    padding-right: 7px;
    padding-left: 7px;
  }

  .navbar-collapse.collapse {
    text-align: center;
  }

  .navbar-nav {
    float: none;
    display: inline-block;
  }
}
@media (max-width: 992px) {
  .next-holidays .text-left,
  .next-holidays .text-right {
    text-align: center;
  }

  .product-gallery .wrapper {
    width: 100%;
  }

  .our_news {
    width: 100%;
  }
  .our_news .news-container {
    margin-bottom: 20px;
  }
  .our_news .news-details {
    position: static;
    margin-top: 20px;
  }

  .review_container .container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .contact_us {
    padding-left: 5px;
    padding-right: 5px;
  }
  .contact_us .form-group {
    margin-bottom: 15px;
  }

  footer .row,
  .contact_us .form-inline {
    width: 100%;
  }

  footer {
    text-align: center;
  }
  footer .text-right {
    text-align: center;
  }
  footer .contacts,
  footer .social {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .navbar-collapse.collapse .navbar-nav {
    display: block;
  }
  .navbar-collapse.collapse .navbar-nav li {
    text-align: right;
  }
  .navbar-collapse.collapse .navbar-nav li:before {
    display: none;
  }
  .navbar-collapse.collapse .navbar-nav .active a {
    text-align: right;
  }
  .navbar-collapse.collapse .navbar-nav .active a:after {
    position: absolute;
    right: 2%;
  }
  .navbar-collapse.collapse .navbar-nav a {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .navbar-collapse.collapse .order-btn {
    margin-top: 0px;
    width: 120px;
    display: inline-block;
  }

  .product-gallery .right-arrow-wrapper .right.carousel-control {
    text-align: left;
  }

  .product-gallery .left-arrow-wrapper .left.carousel-control {
    text-align: right;
  }

  .product-gallery .gallery-menu li {
    width: 100%;
  }
  .product-gallery .gallery-menu li:after {
    display: none;
  }
  .product-gallery .gallery-menu .clicked a:after {
    position: static;
  }

  .gallery-image-container {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
  }
}
@media (max-width: 554px) {
  .main-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 56px;
  }

  h1 {
    font-size: 40px;
    letter-spacing: 2px;
  }

  .next-holidays h1 {
    font-size: 35px;
  }

  .about-us {
    padding-right: 5px;
    padding-left: 5px;
  }
}
/*  min-width           */
@media (min-width: 1366px) {
  .row {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact_us .col-md-12.col-lg-12,
  .contact_us .col-md-4.col-lg-4:last-child {
    padding-right: 0px;
  }

  .nav.navbar-nav:first-child {
    width: 79%;
    text-align: center;
  }
  .nav.navbar-nav:first-child li {
    display: inline-block;
    float: none;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .modal-dialog.frankies-news {
    width: 39%;
  }
}
/*     responsive end        */
